<div class="create-account">
  <span class="registration-title">Registration!</span>
  
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class = "field">
    <%# <%= f.label :name, "name" %>  
    <%= f.text_field :name, autofocus: true, placeholder: 'Name', required: true%>
  </div>
    <div class="field">
      <%# <%= f.label :email %> <br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', disabled: true %>
    </div>
  
    <div class="field">
      <Br>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', required: true %>
    </div>
  
    <div class="field">
      <br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', required: true%>
      <br>
    </div>
  
    <div class="actions">
      <br>
      <%= f.submit "Sign up", class: 'sign-up-btn' %>
    </div>

  <% end %>
    <div class="login-bottom">
        <p>Already have an account? <br><div class="redirect-login"><%= render "devise/shared/links"%></div> </p>
    </div>
</div>
