

<div class="login-account">
  <div class="login-title">Log in!</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', required: true%>
      <br>
    </div>
  
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', required:true%>
      <br>
    </div>
  
  
    
      <div class="actions">
        <%= f.submit "Log in", class: 'login-btn'%>
      </div>

  <% end %>
  
  <div class="alternate-links"><%= render "devise/shared/links" %></div>
</div>
