<div class="edit-post-container">
  <%= form_with(model: post) do |form| %>
    <div class="post-show-title-edit">
      <%= form.text_field :title %>
    </div>
  <br>
    <div class="post-show-content-edit">
      <%= form.textarea :content, class: "textarea-edit" %>
    </div>
  <br>
  <div class="pettag">
    Pet Tag:   <br>   

     <%= form.label :pettag, "Dog"%>
        <%= form.radio_button :pettag, "Dog", checked: true %>
        <%= form.label :pettag, "Cat"%>
        <%= form.radio_button :pettag, "Cat"%>
  </div>
    <div class="update-position">
      <%= form.submit "Update", class:"update-post-btn" %>
    </div>
  <% end %>
</div>


