<div class="post-show-container">
    <div class="post-show-title">
        <%= post.title%>
    </div>

    <div class="post-show-content">
        <%= post.content%>
    </div>

    <div class="post-show-tag">
        <div class="post-show-tag-children">
            Tags: <%= post.pettag%>
            <%= paw_image_for(post.pettag)%>
        </div>
   
        <div class="post-show-author">
           Author: 
           <% if user_signed_in? %>
           <%= get_author_name(post.user_id)%>
           <% else %>
           <p class="log-in-author"><%= "Log In to see the Author" %></p> 
           <% end %>
        </div>
       
    </div>
</div>