
<div id="all_posts">
<div class="post-title">
  <%= post.title.upcase %>
</div>
    <div class="post-content">
      <%= post.content %>
    </div>
  <div class="author-card-name">
    <% author = User.find(post.user_id)%>
      <div class="author-holder">
        <%if user_signed_in?%>
         <strong>Author:</strong> <%= author.name%>
        <%else%>
          <div class="show-logged-out"><strong>Author:</strong>
          <%= content_tag(:p, author.name, class: 'blur')%>
          <%= content_tag(:div, 'Log in to see the author!', class:'tooltiptext')%></div>
        <%end%>
      </div>
  </div>
  <div class= "pet-tag">
    <%= paw_image_for(post.pettag)%>
  </div>
</div>
