<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Members Only" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# <script src=""></script> %>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="header">
      <%= user_signed_in? ? render("layouts/header_logoff") : render("layouts/header") %>

    </header>
    <div class="container">
      <div class="left-side-page">
        <%= user_signed_in? ? render("layouts/left_loggedin") : render("layouts/left_login")%>
      </div>
      <div class="middle">
        <%= yield %>
        </div>
        <div class="right-side">
          
        </div>
    </div>
    <footer class="footer">
      <%= link_to 'CREATE POST', new_post_path%>
      <%= link_to 'back to posts', posts_path%>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete%>
    </footer>
  
  </body>
</html>
